{
    "presets": [
        [
            "@babel/preset-env",
            {
                "model": false,
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ],
        "@babel/preset-react"
    ]
}